<%
if( !Array.isArray(querry.category) && typeof querry.category != "undefined") querry.category = [querry.category];

var filtered = kolace.filter(function(element){
                    
    if( Array.isArray(querry.category) ){
        return querry.category.includes(element.category);
    }
    else return true;
});

%>



<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>Obchod</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/data/JQueryUI/jquery-ui.min.css">

        <script src="/data/JQueryUI/external/jquery/jquery.js"></script> 
        <script src="/data/JQueryUI/jquery-ui.min.js"></script>

        <link href="/data/css/nakup.css" rel="stylesheet">
        <script src="/data/js/nakup.js"></script>
    </head>
    <body>
         <%- include("parts/nav", {'page': "nakup"})%> 
        <div class="content">
            <div id="filter">
                <form>
                        <%pattern.category.forEach((element)=>{%>
                        <input type="checkbox" name="category" value="<%-element%>" <%-(typeof querry.category != "undefined" && querry.category.includes(element))? "checked" : ""%> ><%-element%><br>
                        <%});%>
                    <button type="submit">vyhladaj</button>
                </form>
                <form method="post">
                    <button type="submit">reset</button>
                </form>
            </div>
            <div class="list">
                <% 
                filtered.forEach((kolac, index)=>{%>  

                <div class="item">
                    <div class="obrazok" style="background: url(<%-kolac.obrazok%>) no-repeat center center; background-size: contain">
                        <div class="info">
                            <div class="kolacName">
                                <%-kolac.meno%>
                            </div>
                            <div class="kolacPopis">
                                <%-kolac.popis%>
                            </div>    
                            <div class="kolacVaha">
                                <%-kolac.vaha%> g
                            </div>
                        </div>   
                    </div>
                    
                    <div class="order">
                        <%if(admin){%>
                            <form method="post">
                            cena:
                                <input type="number" name="cena" value="<%-parseFloat(kolac.cena)%>" step='0.01'>
                                <input type="hidden" name="meno" value = "<%-kolac.meno%>" />
                                <button type="submit" style="color: <%-(typeof kolac.touched != 'undefined' && kolac.touched != false)? 'black' : 'red'%>">Updatni</button>
                            </form>
                        <%} else {%>
                        tu sa objedna
                        <input type="number" name="pocet" value="">
                        cena je: <%-kolac.cena%>€
                        <div class="addToCart" data-id="<%-index%>" onclick="javascript:(this.parentElement.children[0].value!='') ? add(this.parentElement.children[0].value, this.dataset.id, this.parentElement.children[0]) : alert('zadaj pocet')">stlac</div>
                        <%}%>
                    </div>
                </div>
                <% }) %>
            </div>
            <input id="date" type="date" name="date" value="">
        </div>
        <%if(admin){%>
        <footer>
            <a href="/admin/logout/">logout</a>
        </footer>
        <%}%>
    </body>
</html>