<%
if(typeof querry == "undefined") querry = {};
if( !Array.isArray(querry.category) && typeof querry.category != "undefined") querry.category = [querry.category];

var filtered = kolace.filter(function(element){
                    
    if( Array.isArray(querry.category) ){
        return querry.category.includes(element.category);
    }
    else return true;
});

filtered.forEach((kolac, index)=>{%>  
<!--
<div class="item">
    <div class="obrazok" style="background: url(<%-kolac.obrazok%>) no-repeat center center; background-size: contain">
        <div class="info">
            <div class="kolacName">
                <%-kolac.meno%>
            </div>
            <div class="kolacPopis">
                <%-kolac.popis%>
            </div>    
            <div class="kolacVaha">
                <%-kolac.vaha%> g
            </div>
        </div>   
    </div>
    
    <div class="order">
        <%if(admin){%>
            <form method="post">
            cena:
                <input type="number" name="cena" value="<%-parseFloat(kolac.cena)%>" step='0.01'>
                <input type="hidden" name="meno" value = "<%-kolac.meno%>" />
                <button type="submit" style="color: <%-(typeof kolac.touched != 'undefined' && kolac.touched != false)? 'black' : 'red'%>">Updatni</button>
            </form>
        <%} else {%>
        tu sa objedna
        <input type="number" name="pocet" value="">
        cena je: <%-kolac.cena%>€
        <div class="addToCart" data-id="<%-index%>" onclick="javascript:(this.parentElement.children[0].value!='') ? add(this.parentElement.children[0].value, this.dataset.id, this.parentElement.children[0]) : alert('zadaj pocet')">stlac</div>
        <%}%>
    </div>
</div>
-->


<div class="item">
    <img class="obrazok" src="<%-kolac.obrazok%>">
    <div class="kolacMeno">
        <%-kolac.meno%>
    </div>    
    <div class="bottom">
    <div class="kolacVaha">
        <%-kolac.vaha%> g
    </div> 
    <div class="kolacCena">
        <%-kolac.cena%>€
    </div> 
    <br>
    <div class="counterHolder">
        <div class="counterPlus">
            +
        </div>
        <div class="counterDisplay">
            0ks
        </div>
        <div class="counterMinus">
            -
        </div>
    </div>
    <div class="kolacPridaj">
        Pridať
    </div>
    </div>
        <%if(admin){%>
            <form method="post">
            cena:
                <input type="number" name="cena" value="<%-parseFloat(kolac.cena)%>" step='0.01'>
                <input type="hidden" name="meno" value = "<%-kolac.meno%>" />
                <button type="submit" style="color: <%-(typeof kolac.touched != 'undefined' && kolac.touched != false)? 'black' : 'red'%>">Updatni</button>
            </form>
        <%} else {/*%>
        <input type="number" name="pocet" value="">
        <div class="addToCart" data-id="<%-index%>" onclick="javascript:(this.parentElement.children[0].value!='') ? add(this.parentElement.children[0].value, this.dataset.id, this.parentElement.children[0]) : alert('zadaj pocet')">stlac</div>
<%*/}%>
</div>
<% }) 
if(filtered.length == 0){%>
<h3>Nič sme nenašli</h3>
<%}%>