<%
if(typeof querry == "undefined") querry = {};
if( !Array.isArray(querry.category) && typeof querry.category != "undefined") querry.category = [querry.category];

var filtered = kolace.filter(function(element){
                    
    if( Array.isArray(querry.category) ){
        return querry.category.includes(element.category);
    }
    else return true;
});

filtered.forEach((kolac, index)=>{%>  
<div class="item">
    <img class="obrazok" src="<%-kolac.obrazok%>" alt="kolac" >
    <div class="kolacMeno" data-meno="<%-kolac.meno%>">
        <%-kolac.meno%>
    </div>    
    <%if(!admin){%>
    <div class="bottom">
        <div class="kolacVaha">
            <%-kolac.vaha%> g
        </div> 
        <div class="kolacCena">
            <%-kolac.cena%>€
        </div> 
        <br>
        <div class="counterHolder">
            <div class="counterPlus" onclick="add(this)">
                +
            </div>
            <div class="counterDisplay" onclick="writeON(this, event)" data-pocet="0">
                0ks
            </div>
            <div class="counterMinus" onclick="sub(this)">
                -
            </div>
        </div>
        <div class="kolacPridaj" onclick="addToCart(this)">
            Pridať
        </div>  
    </div>
<%}%>
    <%if(admin){%>
        <div class="bottom">
            <form method="post">
            cena:
                <input type="number" name="cena" value="<%-parseFloat(kolac.cena)%>" step='0.01'>
                <input type="hidden" name="meno" value = "<%-kolac.meno%>" />
                <button type="submit" style="color: <%-(typeof kolac.touched != 'undefined' && kolac.touched != false)? 'black' : 'red'%>">Updatni</button>
            </form>
        </div>
    <%}%>
</div>
<% }) 
if(filtered.length == 0){%>
<h3>Ospravedlňujeme sa ale nič z tejto kategórie momentálne nieje v ponuke</h3>
<%}%>